@charset "UTF-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, body.page-id-13 section.content .big-text, h5, h6, body.page-id-13 ul.employee-list.featured li .text span.title, body.blog article.post .entry-content h4, body.blog article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.blog article.post .entry-content .big-text, body.blog article.post .entry-content h6, body.single-post article.post .entry-content h4, body.single-post article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.single-post article.post .entry-content .big-text, body.single-post article.post .entry-content h6, body.archive article.post .entry-content h4, body.archive article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.archive article.post .entry-content .big-text, body.archive article.post .entry-content h6, body.search article.post .entry-content h4, body.search article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.search article.post .entry-content .big-text, body.search article.post .entry-content h6, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, blockquote, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* my own resets, for reasons */
html {
  font-size: 62.5%;
  /*  overflow-y: scroll; */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

textarea {
  overflow: auto;
  padding-left: 3px;
  vertical-align: top;
  width: 98%; }

img {
  height: auto;
  max-width: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Body & Wrapper
   ========================================================================== */
html {
  font-size: 62.5% !important; }
  @media only screen and (max-width: 980px) {
    html {
      font-size: 62% !important; } }
  @media only screen and (max-width: 840px) {
    html {
      font-size: 58% !important; } }
  @media only screen and (max-width: 680px) {
    html {
      font-size: 55% !important; } }

body {
  overflow-x: hidden; }
  @media only screen and (max-width: 700px) {
    body #page {
      padding-top: 72px; } }

.container {
  max-width: 1160px;
  position: relative;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* ==========================================================================
   Site Header
   ========================================================================== */
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}
  #site-header .site-logo {
    float: left;
    margin-top: 8px;
    width: 12%;
  }
  #site-header #mobile-menu-toggle {
    display: none;
    color: white;
    position: absolute;
    right: 0;
    font-size: 34px;
    line-height: 34px;
    padding: 17px; }
  #site-header #site-navigation {
    float: right; }
    #site-header #site-navigation ul {
      margin: 0;
      padding: 0;
      list-style: none;
      padding: 21px 0; }
      #site-header #site-navigation ul:after {
        content: "";
        display: table;
        clear: both; }
      #site-header #site-navigation ul li {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        position: relative; }
        #site-header #site-navigation ul li a {
          font-family: "Nunito", sans-serif;
          font-weight: 700;
          font-size: 15px;
          font-size: 1.5rem;
          line-height: 25px;
          line-height: 2.5rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: white;
          display: block;
          padding: 2px 30px; }
          #site-header #site-navigation ul li a:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 0;
            width: 50px;
            height: 5px;
            background: #6ea4d5;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
          #site-header #site-navigation ul li a:hover:after, #site-header #site-navigation ul li a:focus:after {
            opacity: 1;
            max-height: 5px; }
        #site-header #site-navigation ul li.current-menu-item:after {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          bottom: 0;
          width: 50px;
          height: 5px;
          background: #6ea4d5; }
        #site-header #site-navigation ul li.menu-item-168 a {
          border: 3px solid white;
          position: relative;
          top: -3px;
          margin-left: 4px;
          padding: 2px 28px; }
          #site-header #site-navigation ul li.menu-item-168 a:hover, #site-header #site-navigation ul li.menu-item-168 a:focus {
            border-color: #6ea4d5; }
          #site-header #site-navigation ul li.menu-item-168 a:after {
            display: none; }
        #site-header #site-navigation ul li.menu-item-168:after {
          display: none; }
  @media only screen and (max-width: 880px) {
    #site-header .site-logo {
      float: none; }
    #site-header #site-navigation {
      float: none;
      display: inline-block;
      margin: 0 auto; } }
  @media only screen and (max-width: 700px) {
    #site-header {
      background: #545757;
      padding-bottom: 10px;
      position: fixed;
      z-index: 9999; }
      #site-header .site-logo {
        float: left; }
      #site-header #mobile-menu-toggle {
        display: block;
        cursor: hand;
        cursor: pointer; }
        #site-header #mobile-menu-toggle:hover, #site-header #mobile-menu-toggle:focus {
          cursor: hand;
          cursor: pointer; }
        #site-header #mobile-menu-toggle:hover, #site-header #mobile-menu-toggle:focus {
          color: #6ea4d5; }
      #site-header #site-navigation {
        -moz-transition: max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        transition: max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        transition-delay: 100ms;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #545757; }
        #site-header #site-navigation ul {
          padding: 10px 0 0; }
          #site-header #site-navigation ul li {
            float: none;
            border-top: 1px solid rgba(243, 243, 243, 0.1); }
            #site-header #site-navigation ul li a {
              -moz-transition: all 150ms ease;
              -webkit-transition: all 150ms ease;
              transition: all 150ms ease;
              -webkit-transition-delay: 0s;
              -moz-transition-delay: 0s;
              transition-delay: 0s;
              opacity: 0;
              padding: 10px 30px !important;
              line-height: 25px; }
              #site-header #site-navigation ul li a:hover, #site-header #site-navigation ul li a:focus {
                color: #6ea4d5; }
            #site-header #site-navigation ul li.current-menu-item:after {
              height: 2px;
              width: 100px; }
            #site-header #site-navigation ul li.menu-item-168 a {
              border: none;
              position: static;
              margin-left: 0; }
        #site-header #site-navigation.expanded {
          max-height: 311px;
          -webkit-transition-delay: 0s;
          -moz-transition-delay: 0s;
          transition-delay: 0s;
          -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
          #site-header #site-navigation.expanded ul li a {
            opacity: 1;
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            transition-delay: 0s; } }
  #site-header.offset-by-admin-bar {
    margin-top: 32px; }
    @media only screen and (max-width: 782px) {
      #site-header.offset-by-admin-bar {
        margin-top: 46px; } }
    @media only screen and (max-width: 600px) {
      #site-header.offset-by-admin-bar {
        margin-top: 0;
        margin-bottom: -46px; } }

body.archive #site-header #site-navigation ul li.menu-item-162:after,
body.search #site-header #site-navigation ul li.menu-item-162:after,
body.single-post #site-header #site-navigation ul li.menu-item-162:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  width: 50px;
  height: 5px;
  background: #6ea4d5; }

/* ==========================================================================
   Page Header
   ========================================================================== */
#page-header {
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1025px) {
    #page-header .container {
      height: 100vh; }
    #page-header .page-header-content {
      padding: 64px 0 0 !important;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }
  #page-header .page-header-content {
    padding: calc(64px + 17%) 0 17%; }
    #page-header .page-header-content h2 {
      max-width: 780px;
      margin: 0 auto;
      padding-top: 0; }
    #page-header .page-header-content .button {
      margin-top: 8px; }
    @media only screen and (max-width: 880px) {
      #page-header .page-header-content {
        padding: calc(115px + 15%) 0 15%; } }
    @media only screen and (max-width: 700px) {
      #page-header .page-header-content {
        padding: 12% 0; } }
  #page-header.no-hero-img {
    background: #7a7a7a; }

/* ==========================================================================
   Page Content
   ========================================================================== */
#content {
  color: #7a7a7a; }
  #content section.content {
    padding: 7.14% 0; }
    #content section.content.white {
      background: white; }
    #content section.content.gray {
      background: #f3f3f3; }
    #content section.content.no-bg-img {
      background-color: #7a7a7a; }
  #content h3.home-section-heading {
    padding-top: 40px;
    color: #323232;
    letter-spacing: 5px; }
  #content h3.section-heading {
    text-align: left;
    color: #323232;
    position: relative; }
    #content h3.section-heading:after {
      content: '';
      position: absolute;
      left: 2px;
      bottom: -6px;
      height: 4px;
      width: 112px;
      background: #6ea4d5; }
  #content p:not(.description) {
    text-align: left; }
  #content .two-col:after {
    content: "";
    display: table;
    clear: both; }
  #content .two-col div:nth-of-type(2n+1) {
    margin-left: 0%;
    margin-bottom: 0;
    clear: both;
    overflow: hidden;
    *zoom: 1; }
  #content .two-col div:nth-of-type(2n+2) {
    margin-left: 50%;
    margin-bottom: 0;
    clear: none; }
  #content .two-col .col {
    float: left;
    margin-right: -100%;
    width: 50%; }
    #content .two-col .col.col-1 {
      padding-right: 16px;
      /*1.43%;*/ }
    #content .two-col .col.col-2 {
      padding-left: 16px;
      /*1.43%;*/ }
  @media only screen and (max-width: 720px) {
    #content .two-col div:nth-of-type(1n+1) {
      margin-left: 0%;
      margin-bottom: 0;
      clear: both;
      overflow: hidden;
      *zoom: 1; }
    #content .two-col .col {
      float: left;
      margin-right: -100%;
      width: 100%; }
      #content .two-col .col.col-1 {
        padding-right: 0;
        padding-bottom: 28px; }
      #content .two-col .col.col-2 {
        padding-left: 0; } }

/* ==========================================================================
   Site Footer
   ========================================================================== */
#site-footer {
  background: #545757;
  color: white;
  padding: 6% 0; }
  #site-footer .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute; }
    #site-footer .container .footer-block {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      padding: 0 30px; }
      #site-footer .container .footer-block:first-of-type {
        padding-left: 0; }
      #site-footer .container .footer-block:last-of-type {
        padding-right: 0; }
      #site-footer .container .footer-block ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        #site-footer .container .footer-block ul:not(.social-links) li {
          padding: 4px 0; }
      #site-footer .container .footer-block a:not(.button), #site-footer .container .footer-block .autoLinks a {
        color: white; }
        #site-footer .container .footer-block a:not(.button):hover, #site-footer .container .footer-block a:not(.button):focus, #site-footer .container .footer-block .autoLinks a:hover, #site-footer .container .footer-block .autoLinks a:focus {
          color: #6ea4d5; }
      #site-footer .container .footer-block:not(.action) h5, #site-footer .container .footer-block:not(.action) h6, #site-footer .container .footer-block:not(.action) body.page-id-13 ul.employee-list.featured li .text span.title, body.page-id-13 ul.employee-list.featured li .text #site-footer .container .footer-block:not(.action) span.title, #site-footer .container .footer-block:not(.action) body.blog article.post .entry-content h4, body.blog article.post .entry-content #site-footer .container .footer-block:not(.action) h4, #site-footer .container .footer-block:not(.action) body.blog article.post .entry-content body.page-id-13 section.content .big-text, body.blog article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block:not(.action) .big-text, #site-footer .container .footer-block:not(.action) body.page-id-13 section.content body.blog article.post .entry-content .big-text, body.page-id-13 section.content body.blog article.post .entry-content #site-footer .container .footer-block:not(.action) .big-text, #site-footer .container .footer-block:not(.action) body.single-post article.post .entry-content h4, body.single-post article.post .entry-content #site-footer .container .footer-block:not(.action) h4, #site-footer .container .footer-block:not(.action) body.single-post article.post .entry-content body.page-id-13 section.content .big-text, body.single-post article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block:not(.action) .big-text, #site-footer .container .footer-block:not(.action) body.page-id-13 section.content body.single-post article.post .entry-content .big-text, body.page-id-13 section.content body.single-post article.post .entry-content #site-footer .container .footer-block:not(.action) .big-text, #site-footer .container .footer-block:not(.action) body.archive article.post .entry-content h4, body.archive article.post .entry-content #site-footer .container .footer-block:not(.action) h4, #site-footer .container .footer-block:not(.action) body.archive article.post .entry-content body.page-id-13 section.content .big-text, body.archive article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block:not(.action) .big-text, #site-footer .container .footer-block:not(.action) body.page-id-13 section.content body.archive article.post .entry-content .big-text, body.page-id-13 section.content body.archive article.post .entry-content #site-footer .container .footer-block:not(.action) .big-text, #site-footer .container .footer-block:not(.action) body.search article.post .entry-content h4, body.search article.post .entry-content #site-footer .container .footer-block:not(.action) h4, #site-footer .container .footer-block:not(.action) body.search article.post .entry-content body.page-id-13 section.content .big-text, body.search article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block:not(.action) .big-text, #site-footer .container .footer-block:not(.action) body.page-id-13 section.content body.search article.post .entry-content .big-text, body.page-id-13 section.content body.search article.post .entry-content #site-footer .container .footer-block:not(.action) .big-text {
        padding-bottom: 25px; }
      @media only screen and (min-width: 840px) {
        #site-footer .container .footer-block.service-menu {
          max-width: 300px; } }
      #site-footer .container .footer-block.action h5, #site-footer .container .footer-block.action h6, #site-footer .container .footer-block.action body.page-id-13 ul.employee-list.featured li .text span.title, body.page-id-13 ul.employee-list.featured li .text #site-footer .container .footer-block.action span.title, #site-footer .container .footer-block.action body.blog article.post .entry-content h4, body.blog article.post .entry-content #site-footer .container .footer-block.action h4, #site-footer .container .footer-block.action body.blog article.post .entry-content body.page-id-13 section.content .big-text, body.blog article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text, #site-footer .container .footer-block.action body.page-id-13 section.content body.blog article.post .entry-content .big-text, body.page-id-13 section.content body.blog article.post .entry-content #site-footer .container .footer-block.action .big-text, #site-footer .container .footer-block.action body.single-post article.post .entry-content h4, body.single-post article.post .entry-content #site-footer .container .footer-block.action h4, #site-footer .container .footer-block.action body.single-post article.post .entry-content body.page-id-13 section.content .big-text, body.single-post article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text, #site-footer .container .footer-block.action body.page-id-13 section.content body.single-post article.post .entry-content .big-text, body.page-id-13 section.content body.single-post article.post .entry-content #site-footer .container .footer-block.action .big-text, #site-footer .container .footer-block.action body.archive article.post .entry-content h4, body.archive article.post .entry-content #site-footer .container .footer-block.action h4, #site-footer .container .footer-block.action body.archive article.post .entry-content body.page-id-13 section.content .big-text, body.archive article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text, #site-footer .container .footer-block.action body.page-id-13 section.content body.archive article.post .entry-content .big-text, body.page-id-13 section.content body.archive article.post .entry-content #site-footer .container .footer-block.action .big-text, #site-footer .container .footer-block.action body.search article.post .entry-content h4, body.search article.post .entry-content #site-footer .container .footer-block.action h4, #site-footer .container .footer-block.action body.search article.post .entry-content body.page-id-13 section.content .big-text, body.search article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text, #site-footer .container .footer-block.action body.page-id-13 section.content body.search article.post .entry-content .big-text, body.page-id-13 section.content body.search article.post .entry-content #site-footer .container .footer-block.action .big-text {
        position: relative; }
        #site-footer .container .footer-block.action h5:after, #site-footer .container .footer-block.action h6:after, #site-footer .container .footer-block.action body.page-id-13 ul.employee-list.featured li .text span.title:after, body.page-id-13 ul.employee-list.featured li .text #site-footer .container .footer-block.action span.title:after, #site-footer .container .footer-block.action body.blog article.post .entry-content h4:after, body.blog article.post .entry-content #site-footer .container .footer-block.action h4:after, #site-footer .container .footer-block.action body.blog article.post .entry-content body.page-id-13 section.content .big-text:after, body.blog article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text:after, #site-footer .container .footer-block.action body.page-id-13 section.content body.blog article.post .entry-content .big-text:after, body.page-id-13 section.content body.blog article.post .entry-content #site-footer .container .footer-block.action .big-text:after, #site-footer .container .footer-block.action body.single-post article.post .entry-content h4:after, body.single-post article.post .entry-content #site-footer .container .footer-block.action h4:after, #site-footer .container .footer-block.action body.single-post article.post .entry-content body.page-id-13 section.content .big-text:after, body.single-post article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text:after, #site-footer .container .footer-block.action body.page-id-13 section.content body.single-post article.post .entry-content .big-text:after, body.page-id-13 section.content body.single-post article.post .entry-content #site-footer .container .footer-block.action .big-text:after, #site-footer .container .footer-block.action body.archive article.post .entry-content h4:after, body.archive article.post .entry-content #site-footer .container .footer-block.action h4:after, #site-footer .container .footer-block.action body.archive article.post .entry-content body.page-id-13 section.content .big-text:after, body.archive article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text:after, #site-footer .container .footer-block.action body.page-id-13 section.content body.archive article.post .entry-content .big-text:after, body.page-id-13 section.content body.archive article.post .entry-content #site-footer .container .footer-block.action .big-text:after, #site-footer .container .footer-block.action body.search article.post .entry-content h4:after, body.search article.post .entry-content #site-footer .container .footer-block.action h4:after, #site-footer .container .footer-block.action body.search article.post .entry-content body.page-id-13 section.content .big-text:after, body.search article.post .entry-content body.page-id-13 section.content #site-footer .container .footer-block.action .big-text:after, #site-footer .container .footer-block.action body.page-id-13 section.content body.search article.post .entry-content .big-text:after, body.page-id-13 section.content body.search article.post .entry-content #site-footer .container .footer-block.action .big-text:after {
          content: '';
          position: absolute;
          bottom: 5px;
          left: 0;
          right: 0;
          height: 2px;
          background: #d9d9d9; }
      #site-footer .container .footer-block.action ul.social-links {
        padding: 8px 0 22px; }
        #site-footer .container .footer-block.action ul.social-links li {
          display: inline-block;
          margin: 0 3px; }
          #site-footer .container .footer-block.action ul.social-links li a {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            background: white;
            color: #545757;
            border: 2px solid white; }
            #site-footer .container .footer-block.action ul.social-links li a:hover, #site-footer .container .footer-block.action ul.social-links li a:focus {
              background: #6ea4d5;
              border-color: #6ea4d5;
              color: #fff; }
      #site-footer .container .footer-block.action a.button {
        margin-top: 9px; }
        #site-footer .container .footer-block.action a.button:hover, #site-footer .container .footer-block.action a.button:focus {
          background: transparent;
          border-color: #6ea4d5;
          color: #6ea4d5; }
  @media only screen and (max-width: 840px) {
    #site-footer .container {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #site-footer .container .footer-block {
        padding: 0 20px 20px !important;
        width: 50%; } }
  @media only screen and (max-width: 480px) {
    #site-footer .container .footer-block {
      width: 100%; } }

/* ==========================================================================
   Links, Headings, Paragraphs, HR's, Lists, Blockquotes
   ========================================================================== */
.screen-reader-text {
  display: none; }

h1, h2, h3, h4, body.page-id-13 section.content .big-text, h5, h6, body.page-id-13 ul.employee-list.featured li .text span.title, body.blog article.post .entry-content h4, body.blog article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.blog article.post .entry-content .big-text, body.blog article.post .entry-content h6, body.single-post article.post .entry-content h4, body.single-post article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.single-post article.post .entry-content .big-text, body.single-post article.post .entry-content h6, body.archive article.post .entry-content h4, body.archive article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.archive article.post .entry-content .big-text, body.archive article.post .entry-content h6, body.search article.post .entry-content h4, body.search article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.search article.post .entry-content .big-text, body.search article.post .entry-content h6 {
  padding: 10px 0; }

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 50px;
  font-size: 5rem;
  line-height: 60px;
  line-height: 6rem;
  letter-spacing: 5px;
  text-transform: uppercase; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 30px;
      font-size: 3rem;
      line-height: 40px;
      line-height: 4rem; } }

h2 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 32px;
  line-height: 3.2rem;
  letter-spacing: 2px; }
@inclue respond-to($bp6) {
  h2 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 28px;
    line-height: 2.8rem; } }
h3 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 30px;
  font-size: 3rem;
  line-height: 40px;
  line-height: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px; }

h4, body.page-id-13 section.content .big-text {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 34px;
  line-height: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

h5, h6, body.page-id-13 ul.employee-list.featured li .text span.title, body.blog article.post .entry-content h4, body.blog article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.blog article.post .entry-content .big-text, body.blog article.post .entry-content h6, body.single-post article.post .entry-content h4, body.single-post article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.single-post article.post .entry-content .big-text, body.single-post article.post .entry-content h6, body.archive article.post .entry-content h4, body.archive article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.archive article.post .entry-content .big-text, body.archive article.post .entry-content h6, body.search article.post .entry-content h4, body.search article.post .entry-content body.page-id-13 section.content .big-text, body.page-id-13 section.content body.search article.post .entry-content .big-text, body.search article.post .entry-content h6 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 2rem;
  text-transform: uppercase; }

p {
  padding: 10px 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem; }
  @media only screen and (max-width: 480px) {
    p {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 22px;
      line-height: 2.2rem; } }

span {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem; }

strong, b {
  font-weight: 700; }

a, .autoLink a {
  text-decoration: none;
  outline: none;
  color: #6ea4d5;
  -moz-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease; }
  a:active, .autoLink a:active {
    position: relative;
    top: 0px; }
  a:hover, a:focus, .autoLink a:hover, .autoLink a:focus {
    color: #468bca; }

hr {
  color: purple; }

ul, ol {
  padding-left: 20px;
  list-style-position: inside; }
  ul li, ol li {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul.grid {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.grid:after {
    content: "";
    display: table;
    clear: both; }

blockquote {
  display: block;
  padding: 0 25px;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 34px;
  line-height: 3.4rem;
  position: relative;
  text-align: center;
  margin-bottom: 4px; }
  blockquote p, blockquote span, blockquote strong, blockquote em, blockquote blockquote, blockquote i, blockquote b {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }
  blockquote:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    width: 112px;
    height: 4px;
    background: #6ea4d5; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.button, button, input[type="submit"] {
  display: inline-block;
  color: white;
  background: #6ea4d5;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 40px;
  line-height: 4rem;
  white-space: nowrap;
  padding: 0 45px;
  -moz-transition: all 150ms ease;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  outline: none !important;
  -webkit-appearance: none;
  border: 0; }
  .button:active, button:active, input[type="submit"]:active {
    position: relative;
    top: 0px; }
  .button:hover, .button:focus, button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    color: #e6e6e6;
    background: #468bca; }
  .button.round, button.round, input[type="submit"].round {
    border-radius: 5px; }
  .button.clear, button.clear, input[type="submit"].clear {
    background: transparent;
    border: 3px solid white; }
    .button.clear:hover, .button.clear:focus, button.clear:hover, button.clear:focus, input[type="submit"].clear:hover, input[type="submit"].clear:focus {
      background: white;
      color: #545757; }
  .button.gray, button.gray, input[type="submit"].gray {
    background: #f3f3f3;
    color: #545757; }
    .button.gray:hover, .button.gray:focus, button.gray:hover, button.gray:focus, input[type="submit"].gray:hover, input[type="submit"].gray:focus {
      background: #efefef; }

/* ==========================================================================
   Forms
   ========================================================================== */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  width: 100%;
  height: 48px;
  margin-bottom: 8px;
  padding: 16px 19px;
  color: #7a7a7a;
  background: #f3f3f3;
  border: 0;
  outline: 0;
  box-shadow: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    background: #eeeeee; }

textarea {
  height: 257px; }

::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #7a7a7a;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem; }

::-moz-placeholder {
  text-transform: uppercase;
  color: #7a7a7a;
  -moz-osx-grayscale: antialiased;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem; }

:-ms-input-placeholder {
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem; }

input:-moz-placeholder {
  text-transform: uppercase;
  color: #7a7a7a;
  -moz-osx-grayscale: antialiased;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem; }

/* front page */

#philosophy {
  color: white;
  margin-top: -5px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}

.notched-background {
  background-image: url(../img/red_notched_bar.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

.philosophy-left{
  display: inline-block;
  width: 50%;
  float: left;
}

.philosophy-right{
  display: inline-block;
  width: 50%;
  float: right;
}

.imgContain li{
  display: inline-block;
}

.hidden{
  display: none;
}
.image-set-image{
  max-height: 800px;
  margin-top: 20px;
}

.vex-content{
  width: 100% !important;
}
#secondary-menu{
  margin-top: 80px;
  float: left;
  color: black;
  padding-left: 5px;

}

#secondary-menu li{
  display: inline-block;
  padding-right: 30px;
}

#portfolio-images{
  margin-top: 100px;
}
